app-notif-modal {
  .mainDiv {
    padding: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .secondDiv {
    padding-top: 20px;
    border-radius: 18px;
    border: 2px solid black;
    background: white;
  }
}
